.game-section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 1400px;
}

.left-side-cover, .right-side-cover{
    width: 200px;
    height: 300px;
    background-color: white;
    z-index: 10;
}

.game-frame{

    border-bottom: 10px #515151 solid;
    border-radius: 5px;

    /*this values are used explicitly in app.js for creating obstacle*/
    width: 1000px;
    height: 300px;

    background-color: #d2f3d2;

    position: relative;
}

.game-object{
    position: absolute;
    bottom: 0;
    border-radius: 3px;
}

.TRex-image{
    /*changing these elements will interfere with the collision function in app.js*/
    left: 50px;
    width: 90px;
    height: 100px;
}

.obstacle{
    border: 1px black solid;
    border-radius: 3px;
}

#restart-button{
    width: 90px;
    height: 30px;
    background-color: #f85959;
    border-radius: 6px;
}

.hide{
    display: none;
}